@font-face {
    font-family: HandDraw;
    src: url(Handlee.ttf);
}

body {
    background-color: rgb(54, 54, 54);
    /* background: url("Images/1.mp4"); */
    color: rgb(199, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    overflow: hidden;
}