@font-face {
    font-family: HandDraw;
    src: url(Handlee.ttf);
}

body {
    background-color: rgb(54, 54, 54);
    /* background: url("Images/1.mp4"); */
    color: rgb(199, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    overflow: hidden;
    
    background-color: rgb(6, 6, 6);
    color: rgb(199, 199, 199);
}

.URLImage {
    width:100%;
}

#searchTab {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 2;
    background-color: rgba(40,40,40,0.7);
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

    display:none;
}
#searchTab #searchTab-target {
    margin-top: 200px;
    margin-bottom: 50px;
}
#searchTab #searchTab-target-input {
    border: none;
    background-color: rgb(220, 220, 220);
    width: 800px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    text-align:center;
}
#searchTab #searchTab-recomendations {
    width: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
#searchTab .searchTab-recomendation {
    border-bottom: 1px solid rgb(220,220,220);
    width:100%;
    padding: 10px 0px;
}
#searchTab .searchTab-recomendation:hover {
    background: rgba(199, 199, 199, 0.2);
}
#searchTab #searchTab-help {
    position:fixed;
    left: 20px;
    top: 20px;
    font-size:12px;
    color: rgba(255,255,255,0.5)
}


#popupPanel {
    display: flex;
    position:fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
    font-size: 24px;
    background-color: rgba(30,30,30,0.6);
    border-radius:5px;
    transition: 0.5s;
    opacity:0;
    align-items: center;
    justify-content: flex-start;
}
#popupPanel input {
    width: 30px;
    color: rgba(200,0,0,1);
    font-size: 30px;
}
#popupPanel #popupPanel-message {
    padding: 10px 30px;
}
#popupPanel.triggered {
    transition: 0.5s;
    opacity:1;
}